/*
 Much of this was copied from inventoryStyle.css, provided for class activity 26.
*/
body
{
    background-color: #4EA2BE;
}

legend
{
	font-size:		1.25em;
	font-style:		italic;
	margin-left:	auto;
	margin-right:	auto;
}

fieldset
{
	padding-left:	4em;
}
